In [0]:
import sqlite3

connectionToDatabase = sqlite3.connect('RepairDeskData')

In [0]:
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS JobTitle''')
connectionToDatabase.commit()
cursor.execute('''create table JobTitle (jobID text PRIMARY KEY, title text, pay real)''')
connectionToDatabase.commit()
cursor.execute('''insert into JobTitle values ('01','CEO','$110,000.00')''')
connectionToDatabase.commit()
cursor.execute('''insert into JobTitle values ('02','Troubleshooter','$55,000.00')''')
connectionToDatabase.commit()
cursor.execute('''insert into JobTitle values ('03','Supervisor','$65,000.00')''')
connectionToDatabase.commit()
cursor.execute('''insert into JobTitle values ('04','Security/Antivirus Specialist','$63,000.00')''')
connectionToDatabase.commit()
cursor.execute('''insert into JobTitle values ('05','Customer Relations','$57,000.00')''')
connectionToDatabase.commit()

In [0]:
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS SkillSet''')
connectionToDatabase.commit()
cursor.execute('''create table SkillSet (skillID text PRIMARY KEY, DegreeCertification text)''')
connectionToDatabase.commit()
cursor.execute('''insert into SkillSet values ('001','Computer Science')''')
connectionToDatabase.commit()
cursor.execute('''insert into SkillSet values ('002','Computer Engineering')''')
connectionToDatabase.commit()
cursor.execute('''insert into SkillSet values ('003','Cybersecurity')''')
connectionToDatabase.commit()
cursor.execute('''insert into SkillSet values ('004','Data Analysis')''')
connectionToDatabase.commit()
cursor.execute('''insert into SkillSet values ('005','Human-Centered Design and Development')''')
connectionToDatabase.commit()
cursor.execute('''insert into SkillSet values ('006','Netwrok Engineer')''')
connectionToDatabase.commit()
cursor.execute('''insert into SkillSet values ('007','Security Risk Analyst')''')
connectionToDatabase.commit()

In [0]:
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Assignment''')
connectionToDatabase.commit()
cursor.execute('''create table Assignment (employeeID text PRIMARY KEY, pcID text)''')
connectionToDatabase.commit()
cursor.execute('''insert into Assignment values ('001','00002')''')
connectionToDatabase.commit()
cursor.execute('''insert into Assignment values ('002','00005')''')
connectionToDatabase.commit()
cursor.execute('''insert into Assignment values ('003','00023')''')
connectionToDatabase.commit()
cursor.execute('''insert into Assignment values ('004','00002')''')
connectionToDatabase.commit()
cursor.execute('''insert into Assignment values ('005','00018')''')
connectionToDatabase.commit()

In [0]:
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS RepairQueue''')
connectionToDatabase.commit()
cursor.execute('''create table RepairQueue (pcID text PRIMARY KEY, cost real, skillSet text)''')
connectionToDatabase.commit()
cursor.execute('''insert into RepairQueue values ('00001','$160.00','001')''')
connectionToDatabase.commit()
cursor.execute('''insert into RepairQueue values ('00002','$142.00','003')''')
connectionToDatabase.commit()
cursor.execute('''insert into RepairQueue values ('00003','$135.00','001')''')
connectionToDatabase.commit()
cursor.execute('''insert into RepairQueue values ('00004','$377.00','002')''')
connectionToDatabase.commit()
cursor.execute('''insert into RepairQueue values ('00005','$355.00','004')''')
connectionToDatabase.commit()

In [0]:
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS Employees''')
connectionToDatabase.commit()
cursor.execute('''create table Employees (EmployeeID text PRIMARY KEY, firstName text, lastName text, jobID text, skillID text)''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('001', 'Laura', 'Clifford', '01', '003')''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('002', 'Hersila', 'Lamar', '02', '004')''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('003', 'Zhu', 'Madalitso', '03', '006')''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('004', 'Ravi', 'Kasabian', '04', '003')''')
connectionToDatabase.commit()
cursor.execute('''insert into Employees values ('005', 'Paula', 'Pagani', '05', '007')''')
connectionToDatabase.commit()

In [0]:
cursor = connectionToDatabase.cursor()
cursor.execute('''drop table IF EXISTS RepairDesk''')
connectionToDatabase.commit()
cursor.execute('''create table RepairDesk (queueID text PRIMARY KEY, time text, date text, pcID text)''')
connectionToDatabase.commit()
cursor.execute('''insert into RepairDesk values ('000258', '10:50:23', '11/23/24', '00001')''')
connectionToDatabase.commit()
cursor.execute('''insert into RepairDesk values ('000259', '11:21:59', '11/23/24', '00002')''')
connectionToDatabase.commit()
cursor.execute('''insert into RepairDesk values ('000260', '11:53:24', '11/23/24', '00003')''')
connectionToDatabase.commit()
cursor.execute('''insert into RepairDesk values ('000261', '12:42:06', '11/23/24', '00004')''')
connectionToDatabase.commit()
cursor.execute('''insert into RepairDesk values ('000262', '14:05:43', '11/23/24', '00005')''')
connectionToDatabase.commit()

Our 3 Questions:

List the 5 most expensive expensive PC repairs in order:

In [16]:
cursor.execute('''select * from RepairQueue Order By cost DESC''')
for row in cursor.fetchall():
  print (row)

('00004', '$377.00', '002')
('00005', '$355.00', '004')
('00001', '$160.00', '001')
('00002', '$142.00', '003')
('00003', '$135.00', '001')

This is important from a customer and accounting view since it would allow the user with this information to determine what the most expensive probelms are for computers. This information can be used by customers on whether or not to use to repair desk based on their certain problems and can be used by the business to give estimated repair costs to customers who have PC problems.

How many PCs were turned in to be repaired on 11/23/24:

In [18]:
cursor.execute('''select date,COUNT(pcID) from RepairDesk WHERE date = "11/23/24"''')
for row in cursor.fetchall():
  print (row)

('11/23/24', 5)

This information is useful in determining dates, days of the week, and eventually times of the year where the recieve the most PCs to be repaired. The user can set a range instead of a specific date in order to help them visualize what times of the year are the busiest. This can help the repair desk determine how much staff they need or how many people they need to staff the desk.

What assignment has the most people working on it:

In [15]:
cursor.execute('''select pcID,COUNT(employeeID) from Assignment Group By pcID''')
for row in cursor.fetchall():
  print (row)

('00002', 2)
('00005', 1)
('00018', 1)
('00023', 1)

This is important for visualizing the allocation of human resources within the company in terms of computers to be repaired. This information can help the company in determining what kind of assignments require the most people as well as how many resources they had delegated, or are delegating, to a specific task.

Our updated ER Diagram:

In [23]:
<img src="IST210A4.png" />

SyntaxError: ignored